@import url("https://fonts.googleapis.com/css2?family=Inria+Sans%3Aital%2Cwght%400%2C400%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-EDrWHDMun: #ff0000;
  --plasmic-token-amavita-red: var(--token-EDrWHDMun);
}

.plasmic_default_styles {
  --mixin-I_PInxt20g8w_font-family: "Inria Sans";
  --mixin-I_PInxt20g8w_font-size: 16px;
  --mixin-I_PInxt20g8w_font-weight: 400;
  --mixin-I_PInxt20g8w_font-style: normal;
  --mixin-I_PInxt20g8w_color: #535353;
  --mixin-I_PInxt20g8w_text-align: left;
  --mixin-I_PInxt20g8w_text-transform: none;
  --mixin-I_PInxt20g8w_line-height: 1.7;
  --mixin-I_PInxt20g8w_letter-spacing: normal;
  --mixin-I_PInxt20g8w_white-space: pre-wrap;
  --mixin-I_PInxt20g8w_user-select: text;
  --mixin-I_PInxt20g8w_text-decoration-line: none;
  --mixin-I_PInxt20g8w_text-overflow: clip;
  --mixin-1Vbwk4KzERAR_color: #000000;
  --mixin-1Vbwk4KzERAR_font-weight: 900;
  --mixin-1Vbwk4KzERAR_font-size: 72px;
  --mixin-1Vbwk4KzERAR_line-height: 1;
  --mixin-1Vbwk4KzERAR_letter-spacing: -4px;
  --mixin-1Vbwk4KzERAR_white-space: pre-wrap;
  --mixin-ZJezRVJXZS2F_font-family: "Inter";
  --mixin-ZJezRVJXZS2F_color: #000000;
  --mixin-ZJezRVJXZS2F_font-size: 48px;
  --mixin-ZJezRVJXZS2F_font-weight: 700;
  --mixin-ZJezRVJXZS2F_letter-spacing: -1px;
  --mixin-ZJezRVJXZS2F_line-height: 1.1;
  --mixin-ZJezRVJXZS2F_white-space: pre-wrap;
  --mixin-7_LzqxSteB6u_color: #0070f3;
  --mixin-7_LzqxSteB6u_white-space: pre-wrap;
  --mixin-2vEepjztf20A_font-family: "Inter";
  --mixin-2vEepjztf20A_color: #000000;
  --mixin-2vEepjztf20A_font-size: 32px;
  --mixin-2vEepjztf20A_font-weight: 600;
  --mixin-2vEepjztf20A_letter-spacing: -0.8px;
  --mixin-2vEepjztf20A_line-height: 1.2;
  --mixin-2vEepjztf20A_white-space: pre-wrap;
  --mixin-LaJ2yajSRYPR_font-family: "Inter";
  --mixin-LaJ2yajSRYPR_color: #000000;
  --mixin-LaJ2yajSRYPR_font-size: 24px;
  --mixin-LaJ2yajSRYPR_font-weight: 600;
  --mixin-LaJ2yajSRYPR_letter-spacing: -0.5px;
  --mixin-LaJ2yajSRYPR_line-height: 1.3;
  --mixin-LaJ2yajSRYPR_white-space: pre-wrap;
  --mixin-8D8bcmRRFyye_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-8D8bcmRRFyye_border-bottom-color: #dddddd;
  --mixin-8D8bcmRRFyye_border-bottom-style: solid;
  --mixin-8D8bcmRRFyye_border-bottom-width: 1px;
  --mixin-8D8bcmRRFyye_border-left-color: #dddddd;
  --mixin-8D8bcmRRFyye_border-left-style: solid;
  --mixin-8D8bcmRRFyye_border-left-width: 1px;
  --mixin-8D8bcmRRFyye_border-right-color: #dddddd;
  --mixin-8D8bcmRRFyye_border-right-style: solid;
  --mixin-8D8bcmRRFyye_border-right-width: 1px;
  --mixin-8D8bcmRRFyye_border-top-color: #dddddd;
  --mixin-8D8bcmRRFyye_border-top-style: solid;
  --mixin-8D8bcmRRFyye_border-top-width: 1px;
  --mixin-8D8bcmRRFyye_border-bottom-left-radius: 3px;
  --mixin-8D8bcmRRFyye_border-bottom-right-radius: 3px;
  --mixin-8D8bcmRRFyye_border-top-left-radius: 3px;
  --mixin-8D8bcmRRFyye_border-top-right-radius: 3px;
  --mixin-8D8bcmRRFyye_font-family: "Inconsolata";
  --mixin-8D8bcmRRFyye_padding-bottom: 1px;
  --mixin-8D8bcmRRFyye_padding-left: 4px;
  --mixin-8D8bcmRRFyye_padding-right: 4px;
  --mixin-8D8bcmRRFyye_padding-top: 1px;
  --mixin-8D8bcmRRFyye_white-space: pre-wrap;
  --mixin-zpeyScCsqXiU_border-left-color: #dddddd;
  --mixin-zpeyScCsqXiU_border-left-style: solid;
  --mixin-zpeyScCsqXiU_border-left-width: 3px;
  --mixin-zpeyScCsqXiU_color: #888888;
  --mixin-zpeyScCsqXiU_padding-left: 10px;
  --mixin-zpeyScCsqXiU_white-space: pre-wrap;
  --mixin-wqnKPIj5Jqfg_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-wqnKPIj5Jqfg_border-bottom-color: #dddddd;
  --mixin-wqnKPIj5Jqfg_border-bottom-style: solid;
  --mixin-wqnKPIj5Jqfg_border-bottom-width: 1px;
  --mixin-wqnKPIj5Jqfg_border-left-color: #dddddd;
  --mixin-wqnKPIj5Jqfg_border-left-style: solid;
  --mixin-wqnKPIj5Jqfg_border-left-width: 1px;
  --mixin-wqnKPIj5Jqfg_border-right-color: #dddddd;
  --mixin-wqnKPIj5Jqfg_border-right-style: solid;
  --mixin-wqnKPIj5Jqfg_border-right-width: 1px;
  --mixin-wqnKPIj5Jqfg_border-top-color: #dddddd;
  --mixin-wqnKPIj5Jqfg_border-top-style: solid;
  --mixin-wqnKPIj5Jqfg_border-top-width: 1px;
  --mixin-wqnKPIj5Jqfg_border-bottom-left-radius: 3px;
  --mixin-wqnKPIj5Jqfg_border-bottom-right-radius: 3px;
  --mixin-wqnKPIj5Jqfg_border-top-left-radius: 3px;
  --mixin-wqnKPIj5Jqfg_border-top-right-radius: 3px;
  --mixin-wqnKPIj5Jqfg_font-family: "Inconsolata";
  --mixin-wqnKPIj5Jqfg_padding-bottom: 3px;
  --mixin-wqnKPIj5Jqfg_padding-left: 6px;
  --mixin-wqnKPIj5Jqfg_padding-right: 6px;
  --mixin-wqnKPIj5Jqfg_padding-top: 3px;
  --mixin-wqnKPIj5Jqfg_white-space: pre-wrap;
  --mixin-Lkvt-ptDbRDu_display: flex;
  --mixin-Lkvt-ptDbRDu_flex-direction: column;
  --mixin-Lkvt-ptDbRDu_align-items: stretch;
  --mixin-Lkvt-ptDbRDu_justify-content: flex-start;
  --mixin-Lkvt-ptDbRDu_list-style-position: outside;
  --mixin-Lkvt-ptDbRDu_padding-left: 40px;
  --mixin-Lkvt-ptDbRDu_position: relative;
  --mixin-Lkvt-ptDbRDu_list-style-type: disc;
  --mixin-Lkvt-ptDbRDu_white-space: pre-wrap;
  --mixin-UxRG4xE1pZHmH_display: flex;
  --mixin-UxRG4xE1pZHmH_flex-direction: column;
  --mixin-UxRG4xE1pZHmH_align-items: stretch;
  --mixin-UxRG4xE1pZHmH_justify-content: flex-start;
  --mixin-UxRG4xE1pZHmH_list-style-position: outside;
  --mixin-UxRG4xE1pZHmH_padding-left: 40px;
  --mixin-UxRG4xE1pZHmH_position: relative;
  --mixin-UxRG4xE1pZHmH_list-style-type: decimal;
  --mixin-UxRG4xE1pZHmH_white-space: pre-wrap;
  --mixin-3b7O2IQPK5h52_font-family: "Inter";
  --mixin-3b7O2IQPK5h52_color: #000000;
  --mixin-3b7O2IQPK5h52_font-size: 20px;
  --mixin-3b7O2IQPK5h52_font-weight: 600;
  --mixin-3b7O2IQPK5h52_letter-spacing: -0.3px;
  --mixin-3b7O2IQPK5h52_line-height: 1.5;
  --mixin-3b7O2IQPK5h52_white-space: pre-wrap;
  --mixin-wmsKkzPyNouFl_font-family: "Inter";
  --mixin-wmsKkzPyNouFl_color: #000000;
  --mixin-wmsKkzPyNouFl_font-size: 16px;
  --mixin-wmsKkzPyNouFl_font-weight: 600;
  --mixin-wmsKkzPyNouFl_line-height: 1.5;
  --mixin-wmsKkzPyNouFl_white-space: pre-wrap;
  --mixin-azFQGZo-1vUWU_color: #3291ff;
  --mixin-azFQGZo-1vUWU_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-I_PInxt20g8w_font-family);
  font-size: var(--mixin-I_PInxt20g8w_font-size);
  font-weight: var(--mixin-I_PInxt20g8w_font-weight);
  font-style: var(--mixin-I_PInxt20g8w_font-style);
  color: var(--mixin-I_PInxt20g8w_color);
  text-align: var(--mixin-I_PInxt20g8w_text-align);
  text-transform: var(--mixin-I_PInxt20g8w_text-transform);
  line-height: var(--mixin-I_PInxt20g8w_line-height);
  letter-spacing: var(--mixin-I_PInxt20g8w_letter-spacing);
  white-space: var(--mixin-I_PInxt20g8w_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-1Vbwk4KzERAR_color);
  font-weight: var(--mixin-1Vbwk4KzERAR_font-weight);
  font-size: var(--mixin-1Vbwk4KzERAR_font-size);
  line-height: var(--mixin-1Vbwk4KzERAR_line-height);
  letter-spacing: var(--mixin-1Vbwk4KzERAR_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-ZJezRVJXZS2F_font-family);
  color: var(--mixin-ZJezRVJXZS2F_color);
  font-size: var(--mixin-ZJezRVJXZS2F_font-size);
  font-weight: var(--mixin-ZJezRVJXZS2F_font-weight);
  letter-spacing: var(--mixin-ZJezRVJXZS2F_letter-spacing);
  line-height: var(--mixin-ZJezRVJXZS2F_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-7_LzqxSteB6u_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-2vEepjztf20A_font-family);
  color: var(--mixin-2vEepjztf20A_color);
  font-size: var(--mixin-2vEepjztf20A_font-size);
  font-weight: var(--mixin-2vEepjztf20A_font-weight);
  letter-spacing: var(--mixin-2vEepjztf20A_letter-spacing);
  line-height: var(--mixin-2vEepjztf20A_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-LaJ2yajSRYPR_font-family);
  color: var(--mixin-LaJ2yajSRYPR_color);
  font-size: var(--mixin-LaJ2yajSRYPR_font-size);
  font-weight: var(--mixin-LaJ2yajSRYPR_font-weight);
  letter-spacing: var(--mixin-LaJ2yajSRYPR_letter-spacing);
  line-height: var(--mixin-LaJ2yajSRYPR_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-8D8bcmRRFyye_background);
  font-family: var(--mixin-8D8bcmRRFyye_font-family);
  border-radius: var(--mixin-8D8bcmRRFyye_border-top-left-radius)
    var(--mixin-8D8bcmRRFyye_border-top-right-radius)
    var(--mixin-8D8bcmRRFyye_border-bottom-right-radius)
    var(--mixin-8D8bcmRRFyye_border-bottom-left-radius);
  padding: var(--mixin-8D8bcmRRFyye_padding-top)
    var(--mixin-8D8bcmRRFyye_padding-right)
    var(--mixin-8D8bcmRRFyye_padding-bottom)
    var(--mixin-8D8bcmRRFyye_padding-left);
  border-top: var(--mixin-8D8bcmRRFyye_border-top-width)
    var(--mixin-8D8bcmRRFyye_border-top-style)
    var(--mixin-8D8bcmRRFyye_border-top-color);
  border-right: var(--mixin-8D8bcmRRFyye_border-right-width)
    var(--mixin-8D8bcmRRFyye_border-right-style)
    var(--mixin-8D8bcmRRFyye_border-right-color);
  border-bottom: var(--mixin-8D8bcmRRFyye_border-bottom-width)
    var(--mixin-8D8bcmRRFyye_border-bottom-style)
    var(--mixin-8D8bcmRRFyye_border-bottom-color);
  border-left: var(--mixin-8D8bcmRRFyye_border-left-width)
    var(--mixin-8D8bcmRRFyye_border-left-style)
    var(--mixin-8D8bcmRRFyye_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-zpeyScCsqXiU_color);
  padding-left: var(--mixin-zpeyScCsqXiU_padding-left);
  border-left: var(--mixin-zpeyScCsqXiU_border-left-width)
    var(--mixin-zpeyScCsqXiU_border-left-style)
    var(--mixin-zpeyScCsqXiU_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-wqnKPIj5Jqfg_background);
  font-family: var(--mixin-wqnKPIj5Jqfg_font-family);
  border-radius: var(--mixin-wqnKPIj5Jqfg_border-top-left-radius)
    var(--mixin-wqnKPIj5Jqfg_border-top-right-radius)
    var(--mixin-wqnKPIj5Jqfg_border-bottom-right-radius)
    var(--mixin-wqnKPIj5Jqfg_border-bottom-left-radius);
  padding: var(--mixin-wqnKPIj5Jqfg_padding-top)
    var(--mixin-wqnKPIj5Jqfg_padding-right)
    var(--mixin-wqnKPIj5Jqfg_padding-bottom)
    var(--mixin-wqnKPIj5Jqfg_padding-left);
  border-top: var(--mixin-wqnKPIj5Jqfg_border-top-width)
    var(--mixin-wqnKPIj5Jqfg_border-top-style)
    var(--mixin-wqnKPIj5Jqfg_border-top-color);
  border-right: var(--mixin-wqnKPIj5Jqfg_border-right-width)
    var(--mixin-wqnKPIj5Jqfg_border-right-style)
    var(--mixin-wqnKPIj5Jqfg_border-right-color);
  border-bottom: var(--mixin-wqnKPIj5Jqfg_border-bottom-width)
    var(--mixin-wqnKPIj5Jqfg_border-bottom-style)
    var(--mixin-wqnKPIj5Jqfg_border-bottom-color);
  border-left: var(--mixin-wqnKPIj5Jqfg_border-left-width)
    var(--mixin-wqnKPIj5Jqfg_border-left-style)
    var(--mixin-wqnKPIj5Jqfg_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-Lkvt-ptDbRDu_display);
  flex-direction: var(--mixin-Lkvt-ptDbRDu_flex-direction);
  align-items: var(--mixin-Lkvt-ptDbRDu_align-items);
  justify-content: var(--mixin-Lkvt-ptDbRDu_justify-content);
  list-style-position: var(--mixin-Lkvt-ptDbRDu_list-style-position);
  padding-left: var(--mixin-Lkvt-ptDbRDu_padding-left);
  position: var(--mixin-Lkvt-ptDbRDu_position);
  list-style-type: var(--mixin-Lkvt-ptDbRDu_list-style-type);
  flex-column-gap: var(--mixin-Lkvt-ptDbRDu_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-UxRG4xE1pZHmH_display);
  flex-direction: var(--mixin-UxRG4xE1pZHmH_flex-direction);
  align-items: var(--mixin-UxRG4xE1pZHmH_align-items);
  justify-content: var(--mixin-UxRG4xE1pZHmH_justify-content);
  list-style-position: var(--mixin-UxRG4xE1pZHmH_list-style-position);
  padding-left: var(--mixin-UxRG4xE1pZHmH_padding-left);
  position: var(--mixin-UxRG4xE1pZHmH_position);
  list-style-type: var(--mixin-UxRG4xE1pZHmH_list-style-type);
  flex-column-gap: var(--mixin-UxRG4xE1pZHmH_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-3b7O2IQPK5h52_font-family);
  color: var(--mixin-3b7O2IQPK5h52_color);
  font-size: var(--mixin-3b7O2IQPK5h52_font-size);
  font-weight: var(--mixin-3b7O2IQPK5h52_font-weight);
  letter-spacing: var(--mixin-3b7O2IQPK5h52_letter-spacing);
  line-height: var(--mixin-3b7O2IQPK5h52_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-wmsKkzPyNouFl_font-family);
  color: var(--mixin-wmsKkzPyNouFl_color);
  font-size: var(--mixin-wmsKkzPyNouFl_font-size);
  font-weight: var(--mixin-wmsKkzPyNouFl_font-weight);
  line-height: var(--mixin-wmsKkzPyNouFl_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_expr_html_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-azFQGZo-1vUWU_color);
}
